/*
body
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
*/

div.tag_container
{
	display: flex;
}

img.qrcode
{
	width: 128px;
	height: 128px;
}

div.visual_sub_container
{
	border-style: solid;
	text-align: center;
	width: %50;
	font-family: "Courier New";
	font-size: 2em;
	line-height: 0;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 260px;
	height: 100px;
	vertical-align: text-top;
}

p.bold
{
	font-weight: bold;
}

p.line0, p.line1, p.line2
{
	/*padding: 0 0 0 0;*/
}

p.line0
{
	margin-top: 16px;
}

p.line2
{
}